<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planes | Galeno Cobertura Medica</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container">
            <div class="logo">
                <a href="../index.html"><img src="../assets/images/logogaleno.png" alt="" srcset=""></a>
            </div>
            <ul class="nav-links">
                <li><a href="./quienessomos.html">Quíenes Somos</a></li>
                <li><a href="./planes.html">Planes</a></li>
                <li><a href="./sanatorios.html">Nuestros Sanatorios</a></li>
                <li><a href="https://wa.me/1561630000" class="atencion-btn">Atención al Socio</a></li>
                <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSeSB-LOftHaGLzzh-bg2mOvOalu-zSqQ4lEY2NY6KHTWA4_2g/viewform" class="associate-btn">Quiero Asociarme</a></li>
            </ul>
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </nav>


    <script src="./assets/js/main.js"></script>
</body>
</html>
