<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nosotros | Galeno Cobertura Medica</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container">
            <div class="logo">
                <a href="../index.html"><img src="../assets/images/logogaleno.png" alt="" srcset=""></a>
            </div>
            <ul class="nav-links">
                <li><a href="./quienessomos.html">Quíenes Somos</a></li>
                <li><a href="https://api.whatsapp.com/send?phone=1541776462&text=Hola,%20quiero%20más%20información%20sobre%20los%20planes%20de%20salud." target="_blank">Planes</a></li>
                <li><a href="./sanatorios.html">Nuestros Sanatorios</a></li>
                <li><a href="https://wa.me/1561630000" class="atencion-btn" target="_blank">Atención al Socio</a></li>
                <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSeSB-LOftHaGLzzh-bg2mOvOalu-zSqQ4lEY2NY6KHTWA4_2g/viewform" class="associate-btn">Quiero Asociarme</a></li>
            </ul>

            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </nav>

    <div class="about-us-section">
        <h1>Sobre Nosotros</h1>
        <h2>Conoce más sobre Galeno Cobertura Médica</h2>
        <p class="p">Somos líderes en el cuidado de la salud y ofrecemos una amplia gama de servicios para nuestros socios.</p>
        <div class="image-gallery">
            <img src="../assets/images/quienes1.png" alt="Imagen 1">
            <img src="../assets/images/quienes2.png" alt="Imagen 2">
            <img src="../assets/images/quienes3.png" alt="Imagen 3">
            <img src="../assets/images/quienes4.png" alt="Imagen 4">
        </div>
    </div>

    <div class="additional-info">
        <p><strong>Central de urgencia y emergencia</strong></p>
        <p>Las 24 horas, los 365 días del año.</p>

        <p><strong>Más de 10.000 empleados</strong></p>
        <p>A su servicio.</p>

        <p><strong>Más de 30 años</strong></p>
        <p>De experiencia y trayectoria en todo el país.</p>

        <p><strong>Más de 100 sucursales</strong></p>
        <p>De atención al cliente en todo el país.</p>

        <p><strong>7 Sanatorios propios:</strong></p>
        <p>Palermo | Mitre | Quilmes | San Isidro Sede Thames | San Isidro Sede Fleming | Sanatorio Dupuytren | Ramos Mejía.</p>

        <p><strong>8 Centros Médicos propios:</strong></p>
        <p>Trinidad Barrio Norte | Trinidad Medical Center Palermo | Trinidad Medical Center Mitre | Trinidad Quilmes | Trinidad Medical Center San Isidro | San Isidro Sede Fleming | Sanatorio Dupuytren | Trinidad Ramos Mejía.</p>
    </div>

    <div class="about-us-section2">
        <p class="bottom">En GALENO la calidad se refleja en todos los niveles de servicio. Nuestros Sanatorios de la Trinidad, están equipados con la última tecnología, brindando un servicio de alto nivel, tanto en calidad médica como en hotelería y confort. Además, contamos con el Sanatorio Dupuytren, un centro de referencia en Traumatología y Accidentología.</p>

        <p class="bottom">Nuestros Sanatorios de la Trinidad han recibido la calificación máxima otorgada por el ITAES (Instituto Técnico para la Acreditación de Establecimientos de la Salud). Esto significa que superan ampliamente las normas de calidad, infraestructura y tecnología necesarias para su correcto funcionamiento. Esta distinción "con Mérito" se reserva a muy pocos establecimientos en la Argentina, por lo cual estamos muy orgullosos de haberla obtenido en dos oportunidades.</p>
            
        <p class="bottom">Nuestra infraestructura Sanatorial, sumada a los Centros Médicos Propios y al Staff de Profesionales Médicos, garantizan el mayor respaldo en Medicina Privada de la Argentina.</p>
    </div>    

    <script src="../assets/js/main.js"></script>
</body>

<footer class="footer">
    <div class="social-icons">
        <a href="https://www.facebook.com/profile.php?id=61559436986159" target="_blank"><i class="bi bi-facebook"></i></a>
        <a href="https://www.instagram.com/galeno.mercedesfrachia?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank"><i class="bi bi-instagram"></i></a>
        <a href="https://wa.me/1541776462" target="_blank"><i class="bi bi-whatsapp"></i></a>
    </div>
    <div class="footer-text">
        <p>Galeno Argentina S.A. CUIT: 30-52242816-3. Elvira R. de Dellepiane 150, 11º PISO. C.A.B.A.</p>
        <p>La Superintendencia de Servicios de Salud, por Resolución 147/12 tiene habilitado todo el país un número telefónico gratuito de consulta: 0800-222-Salud (72583) o ingrese a <a href="https://www.sssalud.gob.ar" target="_blank">www.sssalud.gob.ar</a></p>
        <p>Ley 26.682. Solicitud .Insc. N° 1285. Derechos Reservados Exp. 200.717/12.</p>
    </div>
</footer>

</html>
