/* Estilos generales y navbar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Rubik", sans-serif;
    font-size: 0.9rem;
}

.navbar {
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1600px;
    margin: 0 auto;
    padding: 1rem;
    width: 100%;
}

.logo {
    margin-right: auto; /* Logo pegado a la izquierda */
}

.logo a {
    text-decoration: none;
    color: #333;
    font-size: 1.5rem;
    font-weight: bold;
}

.logo img {
    max-height: 40px; /* Ajusta este valor para cambiar el tamaño del logo */
    height: auto;
    width: auto;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 0.5rem; /* Reduce el espacio entre los elementos */
    margin-left: auto; /* Llevamos los elementos a la derecha */
}

.nav-links li a {
    text-decoration: none;
    color: #333;
    padding: 0.5rem 0.75rem; /* Ajusta el padding para mayor proximidad */
    transition: background-color 0.3s ease;
}

.nav-links li a:hover {
    background-color: #f4f4f4;
    border-radius: 4px;
}

.nav-links li a.associate-btn {
    background: linear-gradient(to right, #4CAF50, #1866a7);
    color: white;
    padding: 0.5rem 0.75rem;
    border-radius: 4px;
}

.nav-links li a.associate-btn:hover {
    background: darkblue;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    height: 3px;
    width: 25px;
    background-color: #333;
    margin-bottom: 4px;
    border-radius: 2px;
}

/* Contenido principal */
.content {
    display: flex;
    flex-direction: column;
    margin: 100px auto;
    max-width: 1600px;
    padding: 1rem;
    width: 100%;
}

.carrousel {
    flex: 1;
    position: relative;
    width: 100%;
}

.formulario {
    flex: 1;
    margin-top: 1rem;
}

.carousel-container {
    position: relative;
    overflow: hidden;
}

.carousel-slide {
    display: none;
    position: relative;
    text-align: center;
}

.carousel-slide img {
    width: 100%;
    height: auto;
}

.caption {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    padding: 8px 12px;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 2rem;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 3px;
    border-color: transparent;
    user-select: none;
    z-index: 10;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Nuevo estilo para el texto debajo del carrusel */
.info-text {
    text-align: center; /* Cambia la alineación a la izquierda */
    /* Ajusta el margen izquierdo según tus necesidades */
    font-size: 1.2rem;
    margin-top: 1rem; /* Añade un margen superior para separación */
}

.negrita {
    margin-bottom: 1rem;
    font-size: 2rem;
}

.associate-btn {
    background: linear-gradient(to right, #578ab4, #2f62cf);
    color: white;
    padding: 0.5rem 0.75rem;
    border-radius: 4px;
    text-decoration: none;
    margin: auto;
    display: block; /* Añade display: block para que funcione con margin: auto */
    text-align: center; /* Centra el texto dentro del botón */
    max-width: 15rem;
}

.info-text .associate-btn:hover {
    background: darkblue;
}

.pregunta {
    text-align: center; /* Cambia la alineación a la izquierda */
    /* Ajusta el margen izquierdo según tus necesidades */
    font-size: 1.2rem;
    margin-top: 1rem; /* Añade un margen superior para separación */
    margin-bottom: 2rem;
}

/* Carrusel pequeño */
.small-carousel {
    margin: 1.5rem auto;
    padding: 1rem;
    max-width: 70rem;
    overflow: hidden;
    width: 100%;
}

.small-carousel-container {
    display: flex;
    gap: 2rem; /* Incrementa el espacio entre los elementos del carrusel */
}

.small-carousel-slide {
    flex: 1;
    text-align: center;
}

.small-carousel-slide img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.small-carousel-slide img:hover {
    transform: scale(1.05);
}

.small-caption {
    margin-top: 8px;
    font-size: 1rem;
    color: #333;
}

/* Estilo para la sección de servicios médicos */
.medical-services {
    background-color: #f4f4f4;
    padding: 2rem;
    text-align: center;
    margin: 2rem auto;
    max-width: 100%;
}

.medical-services h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.medical-services h3 {
    font-size: 1rem;
    margin-bottom: 2rem;
    color: #555;
}

/* Carrusel de servicios médicos */
.medical-carousel {
    position: relative;
    margin: 0 auto 2rem;
    overflow: hidden;
    max-width: 70rem;
}

.medical-carousel-container {
    display: flex;
    transition: transform 0.5s ease;
    gap: 1rem; /* Añade un gap para la separación */
    padding: 0 1rem; /* Añade padding para que las imágenes no toquen los bordes del contenedor */
}

.medical-carousel-slide {
    flex: 0 0 calc(20% - 1rem); /* Ajusta el tamaño de cada slide restando el gap */
    text-align: center;
}

.medical-carousel-slide img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.medical-carousel-slide img:hover {
    transform: scale(1.05);
}

.slide-caption {
    margin-top: 8px;
    font-size: 1rem;
    color: #333;
}

.prev-medical, .next-medical {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 3px;
    border-color: transparent;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.next-medical {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev-medical {
    left: 0;
    border-radius: 0 3px 3px 0;
}

.prev-medical:hover, .next-medical:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.view-all-btn {
    background: linear-gradient(to right, #55aaf0, #2125f3);
    color: white;
    padding: 0.75rem 1rem;
    border-radius: 4px;
    text-decoration: none;
    font-size: 1rem;
}

.view-all-btn:hover {
    background: darkblue;
}

/* Media queries */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        position: absolute;
        top: 60px; /* Ajusta este valor según la altura de tu navbar */
        left: 0;
        background-color: white;
        z-index: 999;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        text-align: center;
        margin: 0.5rem 0;
    }

    .hamburger {
        display: flex;
    }

    .carousel-slide img {
        max-height: 300px;
        object-fit: cover;
    }

    .carousel-slide .caption {
        font-size: 1.5rem;
    }

    .medical-carousel-container {
        gap: 0.5rem; /* Reduce el gap en pantallas pequeñas */
        padding: 0 0.5rem; /* Ajusta el padding */
    }

    .medical-carousel-slide {
        flex: 0 0 calc(50% - 0.5rem); /* Ajusta el tamaño de los slides */
    }

    .prev-medical, .next-medical {
        padding: 8px;
    }
}
